/* Css para editar as classes e ids do site */

/* Definições gerais do site */
*{
    margin:0;
    padding: 0;
    border: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    box-sizing: border-box;
}

body{
  min-height:100vh;
  min-width: 100vw;
  display: flex;
}

h1{
    color: rgb(195, 208, 228);
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: xx-large;
}

h2{
  color:rgb(230, 129, 146);
  text-align: center;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

a{
  color:floralwhite;
  text-decoration: none;
  font-weight: bold;
}


p{
    color: rgb(195, 208, 228);
    font-size: 1rem;
    font-weight: bolder;
}

li{
 color: floralwhite;
 display: inline-flex;
 margin:  15px 20px;
 justify-content: space-between;    
} 

/* --------------------------------------------------------------------------------------------------------------------------- */

/* classe Principal do site e das divs */
main{
    height: auto;
    padding:0% 0.1%;
    background-image: url(fundo1.jpg);
}

header{
  background-color:#fff5fc;
  height: 85px;
} 

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Id para o logo */
#logo{
    width: 100px;
    padding: 26px;
    height: 100px;
}

/* h2{
    display: flex;
    align-items: center;
    color: blueviolet;
    margin-left: 20px;
} */

.nav-links{
    padding: 5px 25px;
    margin-left: auto;
    height: fit-content;
}

.nav-links li {
    display: inline-block;
    margin:  0 20px;   
}

.nav-links li .fa {
    color: rgb(195, 208, 228);
    font-size: 30px;
    line-height: 60px;
    transition: .5s;
    bottom: auto;
}

.nav-links li .fa:hover{
    color:rgb(230, 129, 146);
}

.nav-2{
  background-color: rgb(195, 208, 228);
  border-radius: 2px;
  height: 50px;
}

.texto{
    font-size: large;
    padding-left: 2%;
}

.texto h1{
    font-size: xx-large;
}

.contato{
  margin-left: 40%;
  text-align: center;
  width: 20%;
  background-color: rgb(195, 208, 228);
  border-radius: 12px;
}

#whatsapp{
  color: rgb(230, 129, 146);
}

.derivada {
  text-align: center;
  background-color: rgb(195, 208, 228);
  border-radius: 12px;
  display: flex;
  margin-left: 32%;
  margin-right: 35%;
  flex-direction: row;
  align-items: center;
  padding: 30px;
  width: 35%; 
}

.box{
  display: flex;
  width: 40%;
  margin-left: 8%;
  margin-top: 5%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#erro{
  position: fixed;
  margin-top: 50px;
}

#funcao{
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 8px;
  border-color:rgb(230, 129, 146);
}

label {
  color:rgb(180, 91, 105);
  font-size: large;
  font-weight: bolder;
  margin-right: 1%; /* Ajuste a margem direita conforme necessário */
  margin-left: 5%;
}

input[type="text"] {
  margin-left: 30px; /* Ajuste a margem esquerda conforme necessário */
}

input::placeholder{
    color: rgb(6, 6, 7);
    font-weight: bold;
    opacity: 0.5;
}

button{
  appearance: button;
  backface-visibility: hidden;
  background-color: rgb(230, 129, 146);
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 87%;
  height: 44px;
  line-height: 1;
  margin: 12px 0 0;
  margin-left: 30px;
  outline: none;
  overflow: hidden;
  padding: 0 15px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
}

button{
  cursor: default;
}

button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.passo-a-passo {
    background-color: rgb(195, 208, 228);
    padding: 20px;
    margin-left: 30%;
    margin-right: 35%;
    margin-top: 20px;
    width: 40%;
    border-radius: 12px;
    text-align: left;
  }

.passo-a-passo button {
    background-color: rgb(132, 165, 214);
    margin-left: 40%;
  }
  
  .etapa {
    margin-bottom: 10px;
  }


/* ------------------------------------------- Css para o footer ---------------------------------------------------- */

  :root {
    --color-neutral-0: #2457b4;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

footer{
    width: 100%;
    color: var(--color-neutral-40);
}

.footer-link {
    text-decoration: none;
}

h1{
    align-items: center;
    text-align: center;
}

h1:hover {
    color:  rgb(230, 129, 146);;
    transition: all 0.8s;
}

/* Aqui modificamos o conteudo do div para criamos o footer */
#div-conteudo {
    background-color: rgb(5, 30, 68);
    /* display grid para estilziarmos o conteudo */
    display: grid;
    /* Aqui criamos 4 colunas com espaço de 1fr entre elas */
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 2rem;
}

#Quem-Somos{
    margin-left: 1rem;
}

#Projetos{
    margin-left: 1rem;
}

#Contribuiçao{
    margin-left: 1rem;
}


.links-ul {
    /* utilziando o flexbox para editar os links */
    display: flex;
    /* direção da coluna no flex */
    flex-direction: column;
    /* espaçamento da coluna */
    gap: 1.5rem;
    list-style: none;
}

.links-ul .footer-link:hover {
    color: rgb(230, 129, 146);
    transition: all 0.8s;
}


#copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-10);
    font-size: 0.9rem;
    padding: 0.5rem;
    font-weight: 100;
}
 
  /*-------------------------------------------------------- Estilo para a paginas de regras -------------------------------------------------------  */
  main-regras{
    height: auto;
    padding:0% 0.1%;
    background-color: rgb(255, 255, 255);
  }

  .texto-regras{
    padding-left: 2%;
    padding-right: 2%;
    text-align: justify;
}

.texto-regras h1{
    font-size: xx-large;
    color:rgb(230, 129, 146);
}

.texto-regras p{
  font-size: 1rem;
  color: black; /* Ajuste o valor conforme necessário */
}

/* .borda-equação {
  border: 1px solid black;
  margin-left: 32%;
  margin-right: 35%;
  flex-direction: row;
  align-items: center;
} */
  
  /* ----------------------------------------------------------- Adicionando responsividade ------------------------------------------------*/
@media (max-width: 450px) {
  
  /* Reponsividade para a tela em celulares */
  main{
    height: 100%;
    max-width: 100vh;
}
  .derivada,
  .passo-a-passo {
    flex-direction: column;
    margin-left: 17%;
    margin-right: 20%;
    width: 60%;
  }

  #funcao{
    padding: 5%;
  }

  .box{
    width: 60%;
    margin-top: 10%;
    margin-bottom: 5%;
  }

  #whatsapp{
    color: rgb(230, 129, 146);
    font-size: larger;
  }

  .contato{
    margin-left: 25%;
    text-align: center;
    width: 47%;
    background-color: rgb(29, 55, 94);
    border-radius: 12px;
  }

  label{
    margin-bottom: 3%;
  }

  button{
    width: 80%;
    margin-right: 10%;
  }

 .passo-a-passo button {
    width: 60%;
    margin-left: 20%;
 }

  header {
    height: 10%;
    max-height: 100vh;
  }

  #logo {
    margin-top: 2px;
    width: 100px;
    padding: 15px;
    height: 100px;
  }

  a{
    color:rgb(180, 91, 105);
    display: inline-flex;
    align-items: center;
    font-size: 0.9rem;
    text-decoration: none;
    font-weight: bold;
  }

  .nav-2{
    background-color: rgb(195, 208, 228);
    border-radius: 2px;
    height: 5%;
  }

  .nav-links {
    font-size: 100%;
    margin-left: auto;
    height: fit-content;
  }

  .texto p {
    font-size: 1rem;
  }

  /* Seleciona a classe .span dentro de qualquer elemento <p>  */
  p.span {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


/*Responsividade para o footer  */
#div-conteudo {
    grid-template-columns: repeat(1, 1fr);
    /* gap: 0.5rem; */
    padding: 2rem, 2rem;
}

footer p{
    color:aqua;
    display: flex;
    justify-content: center;
    font-size: medium;
}


/* --------------------------------------------- Responsividade para a pagina de regras ------------------------------------------------- */
  main-regras{
    height: 100%;
    max-width: 100vh;
}

.texto-regras{
  padding-left: 10%;
  padding-right: 10%;
}

.texto-regras p{
  /* Acredito ser uma boa fonte para melhorar a leitura das letras */
  font-size: 1rem;
}
}
